@import "utilities/variables";
@import "utilities/mixins";

@import "base/reset";

@import "components/navbar";
@import "components/botones";
@import "components/cards";

@import "layout/footer";
@import "layout/mediaqueries";