footer {
    background-color: #222;
    color: $blanco;
    padding: 30px 0;
    text-align: center;
    margin-top: auto; // Asegura el sticky footer

    a {
        color: $color-secundario;
        text-decoration: none;
        margin: 0 15px;
    }
}