.card {
    @include sombra-suave;
    border: none;
    background-color: $blanco;
    margin-bottom: 25px;
    transition: transform 0.3s;
    &:hover { transform: translateY(-5px); }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        text-align: center;
        h5 { color: $color-primario; font-weight: bold; }
    }
}